@font-face {
  font-family: 'Tinos';
  src: url('./fonts/Tinos-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Tinos';
  src: url('./fonts/Tinos-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}
